﻿.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1000 !important;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    background-color: white;
    height: 100%;
    position: relative;
    top: 3%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

    .overlay a:hover, .overlay a:focus {
        color: #fc204e;
    }

.overlay .closebtn {
    position: absolute;
    top: 92px;
    color: #fc204e;
    z-index: 20000;
    /*right: 45px;*/
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay {
        overflow-y: auto;
    }

        .overlay a {
            font-size: 20px
        }

        .overlay .closebtn {
            font-size: 40px;
            top: 15px;
            right: 35px;
        }
}
